
<!DOCTYPE html>
<html>
<head>
  <title>URL shortener</title>
  {% load static %}
  <!-- <link rel="stylesheet" type="text/css" href="{%static 'toDoApp/style.css' %}"/> -->
</head>

<body>
  <div id="app">
    <h1>Enter a url you would like to shorten:</h1>

    <div class="holder">

      <form action="{% url 'URL_shortener_app:shorten_URL'  %}" method="post">
        {% csrf_token%}
        <p>Enter a url to shorten: <input type="text" name="to_shorten"></p>
        <button type="submit">Submit</button>

        <h1> <a href="{{url}}">{{shortcut}}</a></h1>
            <h2> {{message}}</h2>
        <!-- <h2> Your new url for {{url}} is: thisSite + {{shortcut}}. To access your site directly from your browser, enter "thisSite{{shortcut}}"" into your search bar.</h2> -->
        <!-- <p>Shortcut you want:<input type="text" name="shortcut"></p> -->
      </form>

      <!-- <form action="{% url 'URL_shortener_app:index'  %}" method="get">
        <h2>Stored urls:</h2>
        <ul>
          {% for item in shortcut_list %}
          <li>
            <p><a href="{{item.original_url}}">{{ item.shortcut }}</a>: {{item.id}},  {{item.original_url }},   {{ item.created_date }}</p>
          </li>
          {% endfor %}
      </form> -->

<!--
      <form action="{% url 'URL_shortener_app:shorten_URL'  %}" method="get">
        <h2>New URL:</h2>
        <ul>
          {% for item in shortcut_list %}
          <li>
            <p><a href="{{item.original_url}}">{{ item.shortcut }}</a>: {{item.id}},  {{item.original_url }},   {{ item.created_date }}</p>
          </li>
          {% endfor %}
      </form> -->



      </ul>
    </div>
  </div>
</body>
<html>
